@import url(normalize.css);

/*----------------------
	Globals, unresets
-----------------------*/

html { 
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	background: #fff;
	line-height: 26px;
}

hr { 
	border: 0;
	border-bottom: solid 1px rgb(229,229,229); 
	height: 1px; 
	clear: both;
	width: 320px;
	margin: 40px auto;
}

p { 
	margin: 0 0 10px;
}

table { 
	font-size: inherit; font: 100%;
}

section, article, footer>p { 
	width: 600px;
	margin: 0 auto;
	position: relative;
}

img, iframe { 
	max-width: 600px;
	max-height: 500px; 
}

::selection {
	background-color: #C95C26;	
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 10px;	
}

.callout, blockquote {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}

.callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}

/*----------------------
	Links
-----------------------*/

a { 
	color: #536878; 
	text-decoration: none;
}

a:hover {
	color: #000;
}

a:visited {
	color: #536878;
}

/*----------------------
	Header, navbar
-----------------------*/

header {
	margin-bottom: 40px;	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

h1.title {
	display: block; 
	font-size: 4em;
	color: #fff;
    line-height: 1em;
}

ul.nav { 
	list-style: none; 
	display:block; 
    padding: 1em;
}

ul.nav li { 
	display:inline;
	margin: 1em; 
}

ul.nav li a {
	color: rgba(255,255,255,0.7);
}

ul.nav li a:hover {
	color: rgba(255,255,255,1.0);
}

/*----------------------
	Articles
-----------------------*/

article h1 {
	display: inline;
}

.extra {
	display: block;
	color: #999;
	vertical-align: baseline;
	text-transform: capitalize;
}

.note a {
	color: #2679D5;
}

	.note a:hover {
		background-color: #2679D5; color: #FFF;
	}

.article a {
	color: #C95C26;
}

	.article a:hover {
		background-color: #C95C26; color: #FFF;
	}
	
	.article blockquote {
		background-color: #f0f7fd;
		border-color: #d0e3f0;	
	}

.link a {
	color: #CF40CB;
}

	.link a:hover {
		background-color: #CF40CB;
		color: #FFF
	}

.quote a { 
	color: #5CC932;
}

	.quote a:hover {
		background-color: #5CC932;
		color: #FFF;
	}

	.quote blockquote {
		font-family: Georgia, serif;
		font-size: 18px;
		font-style: italic;
		width: 500px;
		margin: 0.25em 0;
		padding: 0.25em 40px;
		line-height: 1.45;
		position: relative;
		color: #383838;
		border: 0;
	}
	
	.quote blockquote:before { 
		display: block;
		content: "\201C";
		font-size: 80px;
		position: absolute;
		left: -10px;
		top: -20px;
		color: #7a7a7a;
	}
	
	.quote blockquote cite {
		color: #999999;
		font-size: 14px;
		display: block;
		margin-top: 5px;
	}
	
	.quote blockquote cite:before {
		content: "\2014 \2009";
	}

.photo a { 
	color: #99A4BD;
}

	.photo a:hover {
		background-color: #99A4BD; color: #FFF;
	}


article:last-child {
	border: 0;
}

/*----------------------
	Pagination, Footer
-----------------------*/
 
.pagination { text-align: center; }
ol.nav { list-style: none; margin-left: 0; }
.pagination>li { padding: 12px; }
.nav>li, .nav>li>a { display: inline-block; zoom: 1; }
.pagination>li>a { color: #F00; }
.pagination>li>a:hover { background-color: #F00; color: #FFF; } 

footer {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ccc;
	background-color: #333;
	clear: both;
}

	footer a {
		color: #ccc !important;
		text-decoration: underline;
	}

/*----------------------
	Other
-----------------------*/

.float-left {
	float: left;
	margin-right: 15px;
}

.float-right {
	float: right;
	margin-left: 15px;
}

.mugshot {
	border-radius: 600px;	
	margin-top: 15px;
}

/*----------------------
	Banner
-----------------------*/

.banner {
    padding-top: 10%; /* [1] */
 	background-color: #6f1f44;
    display: block;
}

@media only screen and (min-width: 565px) { /* [2] */

    .banner {
        padding-top: 50px; /* [3] */
    }

}

/*----------------------
	Mobiles
-----------------------*/

@media handheld, only screen and (max-width: 600px), only screen and (max-device-width: 600px) 
{ 
	section, article, footer p, iframe { width: 90%; margin: 0 auto;}
	header, section, article, footer, p, hr { min-width: 300px; }
	img { max-width: 100%; }
	.quote blockquote { width: auto; }
	.mugshot { float: none; margin-right: 0; }
	hr { width: 60%; }
}

@media handheld, only screen and (max-width: 565px), only screen and (max-device-width: 565px) 
{ 
	h1.title { display: block; }
	ul.nav li { margin: 0.5em; }
	ul.nav { padding-left: 0; }
}

/*----------------------
   Print styles.
-----------------------*/

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
	
	.banner {
		padding-top:0;
	}
}