html { 
    font: 1em/1.5 serif; 
    font-family: clear_sansregular, Helvetica, Arial, sans-serif; 
    color: #323232;
    background: url('/img/congruent_pentagon.png') repeat;
}

body { padding: 0; margin: 0; margin-left: 10px; background: #fff; width: auto;  }
.site-header-icon { margin-left: 132px; font-size: 40px; }
.site-header-icon h1 { color: #fff; margin: 0; padding: 0; text-align: center; background: #323232; width: 120px; height: 120px; display: inline-block; }
.site-header-icon a, .site-header-icon a:visited { color: #323232; text-decoration: none; }
.container, nav { margin-left: 132px; width: 650px; }

.container p { text-align: justify; }
hr { border: none; border-bottom: 1px solid #eee; margin: 20px 0; }

nav {
    padding-top: 20px;
    padding-left: 130px;
}

ol.nav {
list-style: none;
margin-left: 0;
}

.pagination {
text-align: center;
}

.nav>li, .nav>li>a {
display: inline-block;
zoom: 1;
}

.pagination>li {
padding: 0 20px;
}

nav ul, nav li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 15px;
}

nav a, nav a:visited {
    color: #434343;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
    background: #434343;
}

.container a:link, .container a:visited {
    color: #2679D5;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.container article h1.article-title a:hover {
    color: #fff;
    background: #2679D5;
    text-decoration: none;
}

.article-date {
    text-align: center;
    font-style: italic;
    padding: 0 !important;
    color: #666;
}

.callout {
    font-size: 24px;
    line-height: 36px;
}

iframe {
    display: block;
    margin: 0 auto;
    max-width:650px;
    padding-bottom: 15px;
}

img {
    max-width: 100%;
}

article.note h1:before {
    content: "note";
    color: #fff;
    background: #343434;
}

article.article h1:before {
    content: "article";
    color: #fff;
    background: #343434;
}

article.photo h1 a:after, article.video h1 a:after, article.link>h1 a:after {
    content: " \00BB";
}

article.link {
    width: auto;
    border: 0;
    padding: 0;
}

article.link:before {
    content: "http://";
    color: #fff;
    background: #343434;
}

article.link>.article-date, article.link>h1, article.link>p {
    font-size: 1em;
    line-height: 1em;
    display: inline;
    text-align: left;
    width: 100%;
    margin: 0;
}

article.photo .article-date, article.photo h1, article.photo p:not(.img-holder),
article.video .article-date, article.video h1, article.video p {
    font-size: 1em;
    line-height: 1em;
    display: inline;
    text-align: left;
    width: 100%;
    margin: 0;
}

.callout, blockquote {
margin: 20px 0;
padding: 15px 2em 15px 15px;
border-left: 5px solid #eee;
}

.callout-warning {
background-color: #fefbed;
border-color: #f1e7bc;
}

footer {
    color: #fefefe;
    background: #323232;
    padding-left: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer a, footer a:visited {
    color: #fff;
}