---
layout: default
title: writing
permalink: /writing/
---

<main tabindex="-1" id="main-content" class="main">

  <div class="wrapper">
      <a href="/" class="back-link">Home</a>

      <h1 class="post__header">An archive of posts I haven't deleted</h1>
      <p class="intro post__description">Every now and again, I dare to write a post for my blog. Below are all the posts I've written over the last 8 years or so, and a few I've chosen not to delete from the last 11.</p>

      <ul class="list">
        {% for post in site.posts %}
        <li class="chevron-card card--clickable">  
          <div class="chevron-card__wrapper">
            <h3 class="card__title">
              <a class="card__link" href={% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}>{{ post.title }}</a>
            </h3>
            <p class="card__description"><time datetime='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date_to_string }}</time></p>
          </div>
        </li>
        {% endfor %}
      </ul>
  </div>

</main>
