---
layout: default
title: Home
---

{% for post in paginator.posts %}
<article class="{{ post.category }}">
    {% if post.category != "photo" %}
    <h1 class="article-title">
        {% if post.link %}
            <a href="{{ post.link }}" target="_blank">{{ post.title }}</a></h1>
        {% else %}
            <a href="{{ post.url }}">{{ post.title }}</a></h1>
        {% endif %}
    <p class="article-date">{{ post.date | date: "%d %B, %Y" }}</p>
    {{ post.content }}
    {% else %}
        <p class="img-holder"><a href="{{ post.link }}" target="_blank"><img src="{{ post.link }}" alt="{{ post.title }}"></a></p>
        <div class="photo-meta">
            <h1 class="article-title"><a href="{{ post.link }}">{{ post.title }}</a></h1>
            <p class="article-date">{{ post.date | date: "%d %B, %Y" }}</p>
            <p>{{ post.content }}</p>
        </div>
    {% endif %}
</article>
<hr />
{% endfor %}
<ol class="nav  pagination">
    <li class="pagination__prev">
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="/">Newer</a>
        {% else %}
            <a href="/page{{paginator.previous_page}}">Newer</a>
        {% endif %}
        {% else %}
            Newer
        {% endif %}
    </li><!--
    
 --><li class="pagination__next">
        {% if paginator.next_page %}
            <a href="/page{{paginator.next_page}}">Older</a>
        {% else %}
            Older
        {% endif %}
    </li>
</ol>