html {
  font-family: Helvetica, Arial, sans-serif ;
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 100;
}

body {
  margin: 0 auto;
  max-width: 40rem;
  padding: 16px;
}

/* ↓ targets the intermediary wrapper */
.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.with-sidebar > * > * {
  /* ↓ applies to both elements */
  margin: 0.5rem;
}

.sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
}

.not-sidebar {
  /* ↓ grow from nothing */
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 1rem);
}

p {
  font-family: Georgia, Times, serif;
}

p > * + * {
  margin-top: 1.5rem;
}

.progress-container {
  height: 8px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.progress-bar {
  height: 5px;
  background: #268bd2;
  width: 0%;
}

article h1 {
  background: #268bd2;
  color: white;
}

article h1 a {
  color: white;
}

a, a:visited {
  color: #268bd2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote{
  font-size: 1em;
  width:60%;
  margin: 0;
  font-style:italic;
  color: #333;
  padding:0.3em 30px 1.0em 75px;
  border-left: 8px solid #fbd200 ;
  line-height: 1.6;
  position: relative;
  background: #f3f3f3;
}

blockquote::before {
  content: "\201C";
  color:#fbd200;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: '';
}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 0.5em;
}

code {
  color: #d5d5d5;
  font-family: Menlo,Roboto Mono,Courier New,monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-weight: 400;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  border-radius: 6px;
  -webkit-font-smoothing: subpixel-antialiased;
}

pre code {
  display: block;
  padding: 1rem;
  overflow: auto;
  background-color: #333;
  box-shadow: 2px 3px 20px rgba(0,0,0,.1);
}

figure {
  margin: 0;
}

ul.posts {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
}

ul.posts li {
  margin-top: 1rem;
  clear: both;
}

ul.posts time {
  font-weight: normal;
}

img, iframe, pre {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

mark {
  background-color: #f1dd38;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

hr {
    border: 0;
    background: #ddd;
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(#ccc),to(rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),#ccc,rgba(255,255,255,0));
    background: linear-gradient(to right,rgba(255,255,255,0),#ccc,rgba(255,255,255,0));
    height: 1px;
    margin: 2.5em 0;
}

footer {
  font-size: 1.2em;
  background: black;
  color: grey;
  padding: 16px;
  margin-top: 1.5rem;
}

footer p {
  font-family: Helvetica, Arial, sans-serif ;
}

footer b {
  color: white;
}

/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  position: relative;
  display: block;
  padding: 1rem;
  border: 1px solid #eee !important;
}
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  z-index: 2;
  color: #fff;
  text-decoration: none;
  background-color: #268bd2;
  border-color: #268bd2;
}
