@charset "UTF-8";

*, ::after, ::before {
    box-sizing:border-box
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, ol[class], p, ul[class] {
    margin:0
}

:root {
    --color-primary: #302AE6;
    --color-secondary: #536390;
    --color-tertiary: #f5f5f5;
    --color-font: #303030;
    --color-bg: #fefefe;
    --color-heading: #0077aa;
    --color-hero: #37474f;
    --color-href: #0077aa;
    --color-faded: #b1b4b6;
    --max-width: 70rem;
    --p-size: 1.33rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #625dff;
        --color-secondary: #8090bb;
        --color-tertiary: #2e2e2e;
        --color-font: #fefefe;
        --color-bg: #303030;
        --color-heading: #0077aa;
        --color-hero: #8bb2c5;
        --color-href: #009bdd;
        --color-faded: #515355;
    }
}

html {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: var(--color-href);
    text-decoration-color: var(--color-href);
}

img, iframe {
    max-width: 100%;
    height: auto;
    display:block;
}

iframe.video {
    aspect-ratio: 16 / 9;
    width: 100%;
    padding-bottom: 1em;
}

button, input, select, textarea {
    font:inherit
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 10ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 10ms !important;
        scroll-behavior:auto !important
    }
}

.no-margin {
    margin:0
}

.site-wrap {
    overflow-x: hidden;
    position:relative
}

.skip-link:not(:focus), .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space:nowrap
}

.wrapper {
    max-width: var(--max-width);
    padding: 0 1.5rem;
    margin-left: auto;
    margin-right: auto;
    position:relative
}

:root {
    --flow-space:2rem
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    background: --var(--color-bg);
    color: --var(--color-font);
    line-height: 1.5;
    font-size: 1rem;
    font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

:focus {
    outline: #00838f dashed 2px;
    outline-offset:.25rem
}

main:focus {
    outline:0
}

h1 {
    color: var(--color-heading);
}

h1, h2, h3, h4 {
    font-weight: 700;
    font-family: Raleway, Arial, sans-serif;
    line-height:1.1
}

::selection {
    color: var(--color-tertiary);
    background:rgba(55, 71, 79, .99)
}

.site-footer {
    background: var(--color-tertiary);
    font-size: 1rem;
    padding:2rem 0
}

@media (min-width: 37em) {
    body {
        font-size:1.1875rem
    }

    .site-footer {
        font-size: 1.5rem;
        padding:2.5rem 0
    }
}

.site-header {
    background: var(--color-bg);
    border-bottom: 4px solid var(--color-tertiary);
    padding:1.5rem 0
}

@media (min-width: 37em) {
    .site-header {
        padding:2rem 0
    }

    .site-header__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center
    }
}

.site-header__brand {
    color: var(--color-hero);
    flex-shrink: 0;
    font-size: 1.75rem;
    font-weight: 700;
    margin-inline-end: 2rem;
    text-decoration:none
}

.skip-link {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index:99
}

ul.card-group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    list-style: none;
    padding-left: 0;
    margin-bottom:.75rem
}

.card {
    margin-bottom:1rem
}

@media (min-width: 62em) {
    .card {
        margin-bottom:2.5rem
    }
}

.card__img {
    margin-bottom:.75rem;
}

img.card__img {
    object-fit: cover;
    height: 400px;
    width: 100%;
}

@media (min-width: 62em) {
    .card__img {
        margin-bottom:1.5rem
    }

    .hero .hero--wrapper {
        width:50%
    }
}

.card__title {
    font-size: 1.1875rem;
    line-height: 1.4;
    margin-bottom: .5rem;
    padding:0
}

@media (min-width: 37em) {
    ul.card-group {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom:0
    }

    .card__title {
        font-size: 1.5rem;
        margin-bottom:.75rem
    }
}

.card__description {
    margin-bottom:0;
    padding-right: 25px
}

.card--clickable:hover {
    cursor:pointer
}

.work__list {
    list-style: none;
    margin: 0 -15px;
    padding: 0;
}

.chevron-card:first-child {
    border-top: none;
}

.chevron-card {
    border-top: 1px solid var(--color-faded);
    margin: 0;
    padding: 5px 0 20px 0;
}

.chevron-card__link::after, .card__link::after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.chevron-card__link::before {
    border-right: 3px solid #1d70b8;
    border-top: 3px solid #1d70b8;
    content: "";
    display: block;
    height: 7px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: 5px;
    -webkit-transform: translateY(0) rotate(45deg) scale(1);
    -ms-transform: translateY(0) rotate(45deg) scale(1);
    transform: translateY(0) rotate(45deg) scale(1);
    width: 7px
}

.chevron-card__link:hover::before, .card__link:hover::before {
    border-color: #003078
}

.chevron-card__link:focus::before, .card__link:focus::before {
    border-color: #0b0c0c
}

.chevron-card:first-child .chevron-card__wrapper {
    padding-top: 0;
}

.chevron-card__wrapper {
    padding: 19px 0 4px;
    position: relative;
}

.hero {
    background: var(--color-tertiary);
    margin-top: -4px;
    padding:3rem 0
}

.hero__header span {
    color: var(--color-font);
}

.hero__header {
    color: var(--color-primary);
}

.hero__header {
    margin-bottom:2rem
}

@media (min-width: 37em) {
    .hero {
        padding:4.4375rem 0
    }

    .hero__header {
        margin-bottom:2rem
    }
}

.main {
    background: var(--color-bg);
    padding:2.5rem 0
}

a {
    color: var(--color-href);
    font-weight: 700;
    text-decoration-thickness: .1em;
    text-underline-offset:.15em
}

a:hover {
    color: var(--color-primary);
    text-decoration: underline;
    text-decoration-thickness:.25rem
}

h1 {
    font-size: 3rem;
    margin-bottom:2.5rem
}

@media (min-width: 37em) {
    .main {
        padding:4rem 0
    }

    h1 {
        font-size: 4rem;
        margin-bottom:3rem
    }
}

h2 {
    font-size: 2rem;
    margin-bottom:1rem
}

@media (min-width: 37em) {
    h2 {
        font-size: 2.5rem;
        margin-bottom:1.5rem
    }
}

h3 {
    font-size: 1.5rem;
    margin-bottom:1rem
}

@media (min-width: 37em) {
    h3 {
        font-size: 2rem;
        margin-bottom:1.5rem
    }
}

.list, p, pre, code {
    margin-bottom: 2rem;
    max-width:44rem
}

.list + h2, p + h2 {
    padding-top:2rem
}

ul.list {
    list-style: disc;
    margin-bottom: 2rem;
    padding-left:1rem
}

.secondary-text {
    color:#718792
}

.intro {
    font-size:1.1875rem
}

@media (min-width: 37em) {
    .intro {
        font-size:1.5rem
    }
}

.intro--bold {
    font-weight:700
}

.link--primary {
    color: #00838f;
    text-decoration-color:#00838f
}

.text-muted {
    color:#37474f
}

.text-bold {
    font-weight:700
}

.text-small {
    font-size:1rem
}

.list-intro {
    margin-bottom:0
}

ul.list-group {
    margin-bottom: 3rem;
    padding-top:1rem
}

.list-group__item {
    margin-bottom:2.5rem
}

.list-group__item > * {
    margin-bottom:.5rem
}

.back-link {
    margin-bottom: 2rem;
    display: inline-block;
    position: relative;
    padding-left:.85rem
}

@media (min-width: 37em) {
    .back-link {
        margin-bottom:2.5rem
    }
}

.reading-width {
    max-width:44rem
}

.back-link:before {
    content: "";
    display: block;
    bottom: 0;
    position: absolute;
    left: .1rem;
    width: .5rem;
    height: .5rem;
    margin: auto 0;
    top: 0;
    transform: rotate(225deg);
    border: solid #007a85;
    border-width:2px 2px 0 0
}

.back-link:after {
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    bottom: -14px;
    left:0
}

.post__header {
    margin-bottom:1.5rem
}

@media (min-width: 37em) {
    .post__header {
        margin-bottom: 2rem;
        max-width:75%
    }
}

.post__description {
    margin-bottom:2.5rem
}

@media (min-width: 37em) {
    .post__description {
        margin-bottom: 3rem;
        max-width:75%
    }
}

.post__img {
    margin-bottom: 2rem;
    width:100%
}

@media (min-width: 37em) {
    .work__img {
        margin-bottom:2.5rem
    }
}

.section {
    background: var(--color-tertiary);
    border-bottom: 4px solid var(--color-bg);
    padding:2.5rem 0
}

@media (min-width: 37em) {

    .section {
        padding:4rem 0
    }
}

.section :last-child {
    margin-bottom: 0
}

.nav {
    line-height: 1;
    margin-top:1rem
}

.nav__list {
    display: flex;
    flex-wrap:wrap
}

@media (min-width: 37em) {
    .nav {
        margin-top:0
    }

    .nav__list {
        padding-inline-start:2rem
    }
}

.nav__list > * {
    padding-inline-start:1rem
}

.nav__list > :first-child {
    padding-inline-start:0
}

@media (min-width: 37em) {
    .nav__list > *, .nav__list > :first-child {
        padding-inline-start:2rem
    }
}

ol[class], ul[class] {
    padding: 0;
    list-style:none
}

.nav a {
    color: #00838f;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    text-decoration:underline
}

@media (min-width: 26.3em) {
    .nav a, .site-head__brand {
        font-size:1.1875rem
    }
}

.nav a[aria-current=page], .nav a[data-state=active] {
    color: #37474f;
    text-decoration:none
}