:root {
    --color-primary: #302AE6;
    --color-secondary: #536390;
    --color-font: #424242;
    --color-bg: #fefefe;
    --color-heading: #292922;
    --color-href: #0077aa;
    --section-width: 800px;
    --p-size: 1.33rem;
}

@media only screen and (max-width: 800px) {
    :root {
        --section-width: 100%;
        --p-size: 1rem;
    }

    p.lead {
        font-size: 1.2rem !important;
        line-height: 1.8rem !important;
    }
}

[data-theme="dark"] {
    --color-primary: #9A97F3;
    --color-secondary: #818cab;
    --color-font: #e1e1ff;
    --color-bg: #161625;
    --color-heading: #818cab;
}

html {
    background-color: var(--color-bg);
    overflow-y: scroll;
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    min-height: 100%;
    font-size: calc(1rem + 0.25vh);
    line-height: 1.6;
    color: var(--color-font);
}

abbr {
    border-bottom: var(--color-font) dashed 1px;
}

body.default header,
body.default section,
body.default footer {
    position: relative;
}

body section,
body footer {
    max-width: 80vw;
    margin: 0 auto;
}


header h1 {
    grid-area: title;
    margin:0;
}

.home h1,
h1.page-top :not(.post h1) {
    font-size: 2.8rem !important;
    line-height: 50px !important;
    font-weight: 600 !important;
    letter-spacing: -0.96px;
}

body.post h1.page-top {
    font-size: 2rem;
    line-height: 2.2rem;
}

p.lead {
    color: var(--color-secondary);
    font-size: 1.4rem !important;
    line-height: 2.0rem !important;
}

header {
    background: #161625;
    min-height: 75px;
    padding-top: 0.8em;
}

header h1 a:hover {
    text-decoration: none;
    opacity: 0.7;
}

header:focus,
header button:hover {
    background: #fff;
    color: #000;
}

header nav button {
    position: absolute;
    right: 0em;
    top: 0.2em;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 1em;
    background: transparent;
    color: #fff;
    display: none;
}
body:not(.default) header nav button {
    top: 1.0em;
    right: 1.6em
}
header nav button:focus, header nav button:hover {
    background: #fff;
    color: #000;
}

header nav ul {
    list-style: none;
    padding:0;
    margin:0;
    padding-bottom: 1em;
}

header nav ul li {
    font-size: 1em;
}

header nav ul li a {
    color: #fff;
}

header nav a {
    display: block;
}

.js-enabled header nav ul {
    display: none;
}

.js-enabled header nav button {
    display: block;
}

header nav ul.is-active {
    display: block;
}

  
h1 {
    color: var(--color-heading);
    font-size: 2rem;
    margin-bottom: 1vh;
}

h2 {
    margin-top: 1vh;
    margin-bottom: 0;
}

p, li {
    font-size: var(--p-size);
}

h2 + p {
    margin-top: 0;
}

a {
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-weight: bold;
    color: var(--color-href);
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

a:hover,
a:focus {
    text-decoration: underline;
}

section {
    max-width: var(--section-width);
    margin: 0 auto;
}

.post-meta {
    font-size: 1rem;
    font-style: italic;
    display: block;
    margin-top: 0;
    margin-bottom: 4vh;
}

.heading-link {
    color: var(--color-heading);
    font-size: inherit;
    opacity: 0;
    text-decoration: none;
    transition: color .16s linear;
}

.heading-link:hover, .heading-link:focus {
    color: var(--color-href);
    text-decoration: none;
}

.heading-link::after {
    content: "#";
}

article>h1:not(.post-title), article>h2, article>h3, article>h4 {
    margin-top: 40px;
    margin-bottom: 20px;
}

article h2 {
    font-size: 2rem;
    line-height: 2.4rem;
}

article h3 {
    font-size: 1.8rem;
    line-height: 2.0rem;
}

article h4 {
    font-size: 1.5rem;
    line-height: 1.7rem;
}

article h1:not(.post-title):focus .heading-link, article h2:focus .heading-link,
article h3:focus .heading-link, article h4:focus .heading-link,
article h1:not(.post-title):hover .heading-link, article h2:hover .heading-link,
article h3:hover .heading-link, article h4:hover .heading-link {
    opacity: 1;
}

.mark, mark {
    padding: .1875em;
    background-color: #fff3cd;
}

.theme {
    display: none;
}

.js-enabled .theme {
    display: block;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch-wrapper em {
    display: none;
}

.theme-switch {
    display: inline-block;
    position: relative;
}

.toggle {
    --size: calc(1rem + 0.25vh);
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    vertical-align: text-top;
    outline: none;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: #e6e6ff;
    transition: all 1000ms ease;
}

.toggle:checked {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);
    transform: scale(0.75);
    color: #ffaa00;
    box-shadow: inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}

table {
    display: grid;
    justify-content: center;
}

img,
iframe,
pre,
code {
    max-width: 100%;
    overflow-x: auto;
}

pre,
code,
figure {
    margin: 0;
}

pre {
    padding: 1em;
}

.reading-top {
    background: url(/static/images/reading-top.png) no-repeat center center;
    max-width: 1280px;
    margin: 0 auto;
    display: block;
}

.running-top,
.reading-top {
    height: 200px;
}

.running-top {
    background: url(/static/images/running-top.png) no-repeat center center;
    max-width: 1280px;
    margin: 0 auto;
    display: block;
}

.running-top svg,
.reading-top svg {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    padding-top: 50px;
}

.running-stats {
    background: #f2f8ff;
    color: #3a68bb;
    padding: 1.5rem;
}

.running-stats p {
    display: inline-block;
    width: 240px;
}

.running-stats span:nth-child(1) {
    display: inline-block;
    width: 100px;
    font-size: 2rem;
    line-height: 2.4rem;
    border-right: 1px solid #3a67bb57;
    padding-right: 5px;
    margin-right: 2.5px;
    text-align: right;
    vertical-align: middle;
}

.running-stats span:nth-child(2) {
    display: inline-block;
    width: 100px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    word-break: break-word;
    vertical-align: middle;
}

.archive h1.hero, article h1.post-title {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-top: 0;
}

.archive ul.posts {
    list-style: none;
    display: block;
    padding: 0;
    font-size: 1.5rem;
}

.archive ul.posts li {
    margin: 1.5vw 0;
    border-top: #cccccc6e 1px solid;
    padding-top: 1.5vw;
}

.archive ul.posts li a {
    display: block;
}

.archive ul.posts li time {
    display: block;
    font-size: 1rem;
}

footer {
    padding-bottom: 1rem;
}

footer section {
    text-align: center;
    margin-top: 1rem;
    border-top: 1px solid var(--color-secondary);
}

hr {
    border: none;
    border-top: 1px solid var(--color-secondary);
}

.battery-alert {
    border: 1px solid #bbd8c5;
    background: #92b89233;
    text-align: center;
}

.battery-alert p {
    margin: 10px;
    font-size: 1rem;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

iframe.video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.d-none {
    display: none;
}

@media (max-width: 430px) {
    header h1 span {
        display: none;
    }
}

@media (max-width: 1399px) {
    body section,
    body footer {
        max-width: 760px !important;
        margin: 0 auto;
    }
}

@media (min-width: 1399px) {
     .archive h1.hero {
        margin-top: 1rem;
    }

    .archive h1.hero, article h1.post-title {
        font-size: 3rem;
        line-height: 3.4rem;
        margin-top: 0;
    }
    .home h1 {
        font-size: 3.5rem !important;
        line-height: 4rem !important;
    }

    p.lead {
        font-size: 1.7rem !important;
        line-height: 2.4rem !important;
    }

    .reading-top,
    .running-top {
        height: 200px;
    }

    .reading-top svg,
    .running-top svg {
        padding-top: 50px;
    }
    .running-stats p {
        width: 400px;
    }

    .running-stats span:nth-child(1) {
        width: 150px;
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .running-stats span:nth-child(2) {
        width: 200px;
    }
}

@media (min-width: 800px) {
    .js-enabled header nav ul {
      display: block;
    }
  
    .js-enabled header nav button {
      display: none;
    }
  
    header nav button {
      display: none;
    }

    body section,
    body footer {
        max-width: 960px;
        margin: 0 auto;
    }
  
    header nav {
      padding-left: 0;
    }
    header nav li {
      display: inline-block;
      margin-right: 1em;
      font-size: var(--p-size);
    }

    body.post .page-top {
        font-size: 2.8rem !important;
        line-height: 50px !important;
    }
  }
