<!DOCTYPE html>
<html lang=en>
<meta charset=utf-8>
<meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
<title>{% if page.title == "Home" %}tom{% else %}{{ page.title }} - tom{% endif %}</title>
<link rel=stylesheet href=/css/main.big.css>
<link rel=stylesheet href=/css/syntax.css>

<div class='wrapper top'>
  <a href=/><img src=//i.imgur.com/AFK2RPU.png height=50px style="border-radius: 200px; border-style: double; margin-top:25px;"></a>
  <p>Hello! <ins>My name's Thomas.</ins></p>
</div>
<hr>
<div class=wrapper>

{{ content }}

<p><ins>&copy; <a href=/about>Thomas Chatting</a> 2016. Site built in <a href=//atom.io target=_blank>Atom</a> and hosted by <a href=//pages.github.com target=_blank>GitHub</a>.</ins></p>
<p><ins>This blog contains entirely my own unedited thoughts and opinions and in no way reflects any real thoughts and opinions of anyone else, nor myself for that matter.</ins></p>
</div>
